.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ControlBar {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DashButton, .HoursButton {
  background-color: orange;
  width: 200px;
  height: 20px;
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
  
}

.Timer {
  background-color: fuchsia;
}

.StartButton, .StopButton {
  background-color: aqua;
  width: 200px;
}

.RunningTime {
  background-color: orange;
}

.yellow, .yellow.on {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 100%;
  border: none;
}

.yellow {
  background-color: yellow;

}

.yellow.on {
  background-color: orange;
}

button{
  background-color: purple;
}

button.on {
  background-color: powderblue;
}

.historyBox{
  background-color: teal;
  width: full-width;
  height: 20em;
  overflow: auto;
  margin: 0 auto;
  margin-top: 10px;
  margin-left:2em;
  margin-right: 2em;
  
  
}

.historyBox table  {
background-color: blue;
margin: auto;
width: 50%;
}

.historyBox table th {
  font-size: 20px;
}

.historyBox thead{
  position: sticky;
  top: 5px;
}
